body {
    margin-bottom: 100px;
}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #9a3800;
}

#footer2 {
    background: #582406;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-group {
    margin: 10px;
}
