.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #484848;
}

#footer2 {
    background: #383838;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.form-group {
    margin: 10px;
}
