.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    height: 30px;
    background: #484848;
}

#footer2 {
    height: 30px;
    background: #383838;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.form-group {
    margin: 10px;
}

.card {
    background-color: rgba(0,0,0,0.5);
    border: none;
}

label, h3, h4 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.readOnly {
    color: gray;
}

    .readOnly:focus {
        color: gray;
    }

.backgroundImage {
    background-image: url(../Source/imgs/background.jpg);
    background-size: cover;
    height: 100vh;
}

#imgview {
    height: 100px;
    object-fit: cover;
}
